.main-section {
  padding: 50px 80px;
}

.brand-list {
  background-color: #f5f5f5d3;
  padding: 5px 10px 20px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.brand-list .model-list::before {
  content: "\2022";
  color: #06c987;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.brand-title {
  padding: 7px 20px;
  margin-bottom: 0px;
  background-color: #232b39;
  /* background-color: #06c987; */
  border-radius: 5px;
  color: white;
  font-weight: 500;
}
.model-list {
  cursor: pointer;
  font-size: 16px;
  margin: 10px 10px 10px 15px;
}

.no-data-found {
  width: 100%;
  text-align: left;
  font-size: 16px;
  margin-top: 30px;
}

@media (max-width: 1100px) {
  .main-section {
    padding: 30px 50px;
  }
}

@media (max-width: 768px) {
  .main-section {
    padding: 20px 35px;
  }
}

@media (max-width: 670px) {
  .main-section {
    padding: 15px 25px;
  }
}

@media (max-width: 530px) {
  .main-section {
    padding: 10px 20px;
  }
}